<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card h-58 text-center">
      <img class="card-img-top" src="assets/images/SundaySchool.webp" alt="">
      <div class="card-body">
        <h4 class="card-title">Whoever welcomes one such child in <span>My</span>
          name welcomes <span>Me</span></h4>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="card church_message">
          <div class="card-body">
            <h3 class="card-title">Sunday School</h3>

            <p class="church_text">Children’s Sunday School is a place for our rambunctious children to learn about
              God’s love through Bible stories, songs, crafts, and games presented by a team of kind, fun loving, and
              godly teachers. A Nursery is also provide for children up to the age of 3.
            </p>
            <p>
              While they do have fun, our children are also taught to care for the poor and less fortunate. Our Sunday
              School kids have raised money to buy chickens, rabbits, and water through various relief organizations.
            </p>
            <p>
              The Ladies' of Faith group at Iona Station Baptist Church plans and organizes many events and ministries
              throughout the year.
            </p>

          </div>

        </div>
      </div>
    </div> <!-- inner row -->
    <br>

  </div> <!-- outher column-->
</div> <!-- END row-->