<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card h-58 text-center">
      <img class="card-img-top" src="assets/images/WomenMinistry.webp" alt="">
      <div class="card-body">
        <h4 class="card-title">Teachers of Good</h4>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="card church_message">
          <div class="card-body">
            <h3 class="card-title">Womens's Bible Study</h3>

            <p class="church_text">Our Women's Bible Study meets every Tuesday night at various locations for a time
              of fellowship, prayer, and Bible Study. These meetings have been known to go well into the night, as the
              women enjoy each other's company while discussing the Word of God.
            </p>
            <p>
              With women coming from both Dutton and Iona Station, it's a wonderful time of getting to know fellow
              Christian women in the area, building each other up in the faith, and learning with and from each other
              from God's World.
            </p>
            <p>
              The Ladies' of Faith group at Iona Station Baptist Church plans and organizes many events and ministries
              throughout the year.
            </p>

          </div>

        </div>
      </div>
    </div> <!-- inner row -->
    <br>

  </div> <!-- outher column-->
</div> <!-- END row-->