<div class="container">
  <div class="card " id="certussoft_business">
    <div class="card-body">
      <h3 class="my-4">About us</h3>
      <p>
        A two point charge is made up of two, autonomous churches, joining together to share in the ministry of Jesus
        Christ. Dutton and Iona Station Baptist Churches have agreed to remain completely autonomous, meaning they make
        their own decisions, they each have their own church building, style of worship, constitution and church
        government. They do, however, share a pastor.</p>
      <p>A two-point charge presents many unique ministry opportunities. It offers a close relationship with another
        body
        of Christ, it allows us to have a far greater reach in impacting our communities with the Good News of Jesus.
        2013
        marks a milestone in the relationship between these two churches as it will mark the <em>50th Anniversary</em>
        of
        their
        partnership.</p>
      <p>
        Click on the pictures below to access more information about each church.</p>

    </div>
  </div>

  <br><br>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <div class="card h-58 text-center select">
        <a routerLink="dutton">
          <img class="card-img-top" src="assets/images/dutton_small.jpg" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">Dutton Baptist Church</h4>
        </div>

      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <div class="card h-100 text-center select">
        <a routerLink="iona">
          <img class="card-img-top" src="assets/images/iona.webp" alt="">
        </a>

        <div class="card-body">
          <h4 class="card-title">Iona Station Baptist Church</h4>

        </div>

      </div>
    </div>

  </div> <!-- END row-->
</div>