<div class="container">
    <div class="card " id="certussoft_business">
        <div class="card-body">
            <h3 class="my-4">Our Video Sermon Series</h3>
            <p>
                Please check this page for our sermon video series below. We are only listing our latest or most significant videos here. Please visit our
                <a href="https://www.youtube.com/channel/UC1f5k-nNZrRQ-8-fpItKMuw">
                    youtube site</a> to subscribe and to see our complete collection.
            </p>
            <!-- <p>For our 2020 
                    <span class="xmas" (click)="gotoXmas()">Christmas</span> 
                    series please follow our special link 
                    <span (click)="gotoXmas()">here</span></p> -->
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="card " id="certussoft_business">
        <div class="card-body">
            <h3 class="my-4">Our Video Series</h3>
            <div *ngFor="let group of groups; let i = index">
                <div class="row">
                    <div class="col-lg-4">
                        <h4 style="text-align: center;">{{group.group}}</h4>
                        <a [routerLink]="['/videos',group.group]">
                            <img src="{{group.image}}" alt="{{group.image}}" class="img-fluid">
                        </a>

                        <br><br>

                    </div>
                    <div class="col-lg-8 my-auto">
                        <h5 style="text-align: center;">{{group.text}}</h5>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<br><br>