<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card h-58 text-center">
      <img class="card-img-top" src="assets/images/dutton_about_1.webp" alt="">
      <div class="card-body">
        <h4 class="card-title">Come and meet us</h4>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <div class="card church_message">
      <div class="card-body">
        <h4 class="card-title">History of Dutton Baptist Church</h4>
        <p class="church_text">Planted in 1876 by Rev. L. M. Randall,
          Dutton Baptist Church (DBC) has enjoyed a long and prosperous ministry.
          Originally meeting in the school house, the current building at 218 Miller Road
          was built in 1877 and has been a fixture on the corner every since.
        </p>
        <p>Dutton Baptist Church has enjoyed a long legacy of ministry that continues
          to this day. Through our regular Sunday Morning Service, our Sunday School Program,
          yearly Vacation Bible School, our Men’s and Women’s Bible Studies,
          DBC seeks to meet the needs of all who attend.
          We also seek to  out the Great Commission and Great Commandment by practically meeting
          the needs of our community, while seeking to bring more people into a life-long,
          loving relationship with our God.</p>
      </div>

    </div>
  </div>
</div> <!-- END row-->

<div class="row">

  <div class="col-md-8">
    <div class="card church_message">
      <div class="card-body">
        <h4 class="card-title">What to Expect</h4>
        <p class="church_text"> <em> We really are just regular folks; seeking to know God better,
            searching the truths of his word, and putting in to practice the things we learn.</em>
        </p>
        <p>The word <b>‘blended’</b> seemed to be the best way to describe Dutton Baptist Church.
          Upon entering the building you’ll notice that our congregation is a blend of
          young and old. We have a blend of worshippers at the beginning of their journeys
          with God, and those who have been faithful for many years.</p>
        <p>Our worship atmosphere is very relaxed and welcoming, though we do take
          worshipping God very seriously. Our children often roam the aisles during
          announcements and singing, our congregation often heckles the pastor during
          announcements (and sometimes during his preaching!).</p>
        <p>Each week our worship team prepares a blend of familiar hymns of the faith with 
          new contemporary hymns and
          songs. Our video projector aids us, making the words of the songs easily visible
          wherever you are in the
          sanctuary. The worship continues as we listen to God’s word faithfully preached. 
          The goal of each sermon is to
          explain the historical context of the passage, the present issues that we might face, 
          with practical
          application to implement in every day life. Communion is celebrated on the 1st Sunday
           of every month, and
          believer's baptism by immersion is performed at the request of the candidate.
        </p>
        <p>On the last Sunday of every month we gather together after the service
           for a time of coffee and snacks that are generously provided
            by members of the church.</p>
      </div>

    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card h-58 text-center">
      <img class="card-img-top" src="assets/images/dutton_about_2.webp" alt="">
      <div class="card-body">
        <h4 class="card-title">Break bread with us</h4>
      </div>

    </div>
  </div>
</div> <!-- END row-->