<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card h-58 text-center">
      <img class="card-img-top" src="assets/images/YouthMinistry.webp" alt="">
      <div class="card-body">
        <h4 class="card-title">Be strong and courageous</h4>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="card church_message">
          <div class="card-body">
            <h3 class="card-title">Youth Ministry</h3>

            <p class="church_text">Our Youth Group (Grades 7-12) meets every Friday night at various locations (email to
              find out where). A typical meeting involves fun and games, as well as a time of hearing and learning from God’s Word. The
              goal of this ministry is to deepen our young people’s knowledge of God’s Word.
            </p>
            <p>
              Our Bible teaching seeks to apply the message of the Bible to relevant issues that our youth face every
              day. We seek to equip our youth with the Christian teaching and grounding they need to be ‘salt and light’
              in their schools.
            </p>

          </div>

        </div>
      </div>
    </div> <!-- inner row -->
    <br>

  </div> <!-- outher column-->
</div> <!-- END row-->