<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card h-58 text-center">
      <img class="card-img-top" src="assets/images/MichaelNicholson.webp" alt="">
      <div class="card-body">
        <h4 class="card-title">The pastor and his better half</h4>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="card church_message">
          <div class="card-body">
            <h3 class="card-title">Rev. Michael Nicholson </h3>
            <h5>BRS, MDiv, Pastor</h5>
            <p class="church_text">Born and raised in Brantford ON, Michael is the youngest of 3 children. The greatest
              struggle Michael faced was a battle with testicular cancer in 2005 (not the reason he's bald, that's just
              good ol' genetics at work!). By the grace of God, through the prayers of many friends and family, and
              through many months of chemotherapy, Michael is now cancer free and has recently had his last ever visit
              with his oncologist.
            </p>
            <p>
              Michael started at Dutton and Iona Station Baptist Churches in March 2010. He and his wife Rachel, moved
              to Dutton shortly after getting married in May 2010. Michael is a passionate preacher, calling the people
              of God to follow in his ways, not merely observing rules and rituals, but living their whole lives in
              conjunction with God’s ways.
            </p>
            <p>
              Michael is a graduate of Tyndale University and McMaster Divinity College. Michael enjoys reading. You’ll
              often catch him reading the Puritans, along with other modern day writers. He is always on the lookout for
              new books to add to his ever-growing personal library. He is a self professed 'book geek.' Michael loves
              to read in order to share what he’s learning with other Christians in order to help them learn and grow in
              their faith and dependence on God.
            </p>
            <p>

              When he’s not reading or doing other church related activities, you can find Michael at the local golf
              course, where he enjoys the company of fellow golfers while trying to improve his fledgling golf game.
              During the winter months (when he can’t golf) Michael enjoys spending time in his small home workshop
              where he enjoys cabinet making.
            </p>
            <p>
              Next to his passion for preaching the Word of God and seeing people grow in their knowledge and love for
              God, and besides his love for his wife, Michael’s third great love is THE Ohio State Buckeyes football
              team. Every Saturday from September to November, Michael can be seen (and heard) cheering on his beloved
              Buckeyes.
            </p>
            <p>

              Michael and Rachel have added a new member to their family. On Friday June 20, 2014, through adoption,
              Veronica Elizabeth became to newest member of the Nicholson household.
            </p>
          </div>

        </div>
      </div>
    </div> <!-- inner row -->
    <br>

  </div> <!-- outher column-->
</div> <!-- END row-->