<div class="container">
    <div class="card " id="certussoft_business">
        <div class="card-body">
            <div class="row">
                <div class="col-lg my-auto">
                    <div><img class="sideimage" src="assets/images/mistletoe.png" alt=""></div>
                </div>
                <div class="col-lg">
                    <h3 class="xmas">Merry Christmas 2020</h3>
                    <div class="xmas" style="font-size:2em;">At DISBC</div>
                </div>
                <div class="col-lg  my-auto">
                    <div style="text-align: right;"><img class="sideimage" src="assets/images/mistletoe.png" alt="">
                    </div>
                </div>
            </div>
            <p style="text-align: center;">
                "For unto you is born this day in the city of David a Saviour, which is Christ the Lord."
                <br><span style="font-style:italic;"> Luke 2:11</span><br>
                "Glory to God in the highest, and on earth peace, good will toward men."
                <br><span style="font-style:italic;"> Luke 2:14</span>
            </p>
            <br>
            <hr><br>
            <div class="row">
                <div class="col-lg my-auto">
                    <div style="text-align: center;">
                        <img class="manger" src="assets/images/manger.png" alt="">
                    </div>
                </div>
                <!-- <div class="col-lg my-auto">
                    <div><img class="sideimage" src="assets/images/candle.png" alt=""></div> -->
                <!-- If you like, play this music video to get into the right mood... -->
                <!-- </div>  -->
                <div class="col-lg imgcenter">
                    <a [routerLink]="['/videos','i27nXy84Vsk','Christmas']">
                        <img class="imgshadow" src="http://img.youtube.com/vi/i27nXy84Vsk/mqdefault.jpg" alt="">
                    </a>
                    <br>
                    <div style="text-align: center;">
                        Click the image to play "Mary did you know" with light show
                    </div>
                </div>
                <div class="col-lg my-auto">
                    <div style="text-align: center;">
                        <img class="sidejesus" src="assets/images/marieandjesus.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="card " id="certussoft_business">
        <div class="card-body">
            <!-- <h3 class="my-4">A Path Towards Christmas</h3> -->
            <div class="row">
                <div class="col-lg imgcenter">
                    <div style="text-align: center;"><img class="sideimage" src="assets/images/candle.png" alt=""></div>
                </div>
                <div class="col-lg imgcenter">
                    <h3 class="xmas">First Sunday of Advent</h3>
                </div>
                <div class="col-lg">
                    <div style="text-align: center;">
                        <img class="sideimage" src="assets/images/candle.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg my-auto">
                    <!-- <div><img class="sideimage" src="assets/images/candle.png" alt=""></div> -->
                    On Sunday November 29th, 2020 at 11:15AM we
                    celebrated our First Advent Sunday,
                    listen in and enjoy...
                </div>
                <div class="col-lg imgcenter">
                    <a [routerLink]="['/videos','zXXJ8sTNueI','The Songs of Christmas: Come']">
                        <img class="imgshadow" src="http://img.youtube.com/vi/zXXJ8sTNueI/mqdefault.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg my-auto ">
                    <h4 class="xmas" style="text-align:center;">Hope</h4>
                    <!-- <div style="text-align: right;">
                    <img class="sideimage" src="assets/images/candle.png" alt="">
                </div> -->
                </div>
            </div>
            <br>
            <hr><br>
            <!-- 2nd Advent Starts here -->
            <div class="row">
                <div class="col-sm imgcenter">
                    <div style="text-align: center;"><img class="sideimage" src="assets/images/candle.png" alt=""></div>
                </div>
                <div class="col-lg imgcenter">
                    <h3 class="xmas">Second Sunday of Advent</h3>
                </div>
                <div class="col-sm">
                    <div style="text-align: center;">
                        <img class="sideimage" src="assets/images/candle.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg my-auto imgcenter">
                    <!-- <div><img class="sideimage" src="assets/images/candle.png" alt=""></div> -->
                    On Sunday December 6th, 2020 at 11:15AM we
                    celebrated our Second Advent Sunday,
                    listen in and enjoy...
                </div>
                <div class="col-lg imgcenter">
                    <a [routerLink]="['/videos','NJEDhdnjk24','Songs of Christmas: Bethlehem']">
                        <img class="imgshadow" src="http://img.youtube.com/vi/NJEDhdnjk24/mqdefault.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg my-auto">
                    <h4 class="xmas" style="text-align:center;">Peace</h4>
                    <!-- <div style="text-align: right;">
                    <img class="sideimage" src="assets/images/candle.png" alt="">
                </div> -->
                </div>
            </div>
            <br>
            <hr><br>
            <!-- 3rd Advent Starts here -->
            <div class="row">
                <div class="col-lg">
                    <div style="text-align: center;"><img class="sideimage" src="assets/images/candle.png" alt=""></div>
                </div>
                <div class="col-lg imgcenter">
                    <h3 class="xmas">Third Sunday of Advent</h3>
                </div>
                <div class="col-lg">
                    <div style="text-align: center;">
                        <img class="sideimage" src="assets/images/candle.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg my-auto imgcenter">
                    <!-- <div><img class="sideimage" src="assets/images/candle.png" alt=""></div> -->
                    On Sunday December 13th, 2020 at 11:15AM we
                    celebrated our Third Advent Sunday,
                    listen in and enjoy...
                </div>
                <div class="col-lg imgcenter">
                    <a [routerLink]="['/videos','Tq5ANc4whHE','The Songs of Christmas: Hark! The Herald Angels Sing']">
                        <img class="imgshadow" src="http://img.youtube.com/vi/Tq5ANc4whHE/mqdefault.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg my-auto">
                    <h4 class="xmas" style="text-align:center;">Joy</h4>
                    <!-- <div style="text-align: right;">
                    <img class="sideimage" src="assets/images/candle.png" alt="">
                </div> -->
                </div>
            </div>
            <br>
            <hr><br>
            <!-- 4th Advent Starts here -->
            <div class="row">
                <div class="col-lg">
                    <div style="text-align: center;"><img class="sideimage" src="assets/images/candle.png" alt=""></div>
                </div>
                <div class="col-lg imgcenter">
                    <h3 class="xmas">Fourth Sunday of Advent</h3>
                </div>
                <div class="col-lg">
                    <div style="text-align: center;">
                        <img class="sideimage" src="assets/images/candle.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg my-auto imgcenter">
                    <!-- <div><img class="sideimage" src="assets/images/candle.png" alt=""></div> -->
                    On Sunday December 20th, 2020 at 11:15AM we
                    celebrated our Fourth Advent Sunday,
                    listen in and enjoy...
                </div>
                <div class="col-lg imgcenter">
                    <a [routerLink]="['/videos','hemofgaImgw','The Songs of Christmas: Who is He?']">
                        <img class="imgshadow" src="http://img.youtube.com/vi/hemofgaImgw/mqdefault.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg my-auto">
                    <h4 class="xmas" style="text-align:center;">Love</h4>
                    <!-- <div style="text-align: right;">
                            <img class="sideimage" src="assets/images/candle.png" alt="">
                        </div> -->
                </div>
            </div>
            <br>
            <hr><br>
        </div>
    </div>
</div>
<br><br>