<div class="container">
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card h-58 text-center">
        <img class="card-img-top" src="assets/images/DuttonMap.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title"><a
              href="https://www.google.com/maps/place/Dutton+Baptist+Church/@42.6645643,-81.5064312,17z/data=!3m1!4b1!4m5!3m4!1s0x882e4cd7e8c0cbc5:0x5251b621c8d51634!8m2!3d42.6645648!4d-81.5042424"
              target="_blank">
              Dutton Baptist Church</a></h4>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card church_message">
            <div class="card-body">
              <h3 class="card-title">Come and Visit Us</h3>

              <p class="church_text">218 Miller Road <br>
                Dutton, ON N0L 1J0 <br>
                <a href="mailto:info@disbc.com"> info@disbc.com</a>
              </p>

            </div>

          </div>
        </div>
      </div> <!-- inner row -->
      <br>

    </div> <!-- outher column-->
  </div> <!-- END row-->
  <div class="row">
    <div class="col-md-6">

      <div class="card church_message">
        <div class="card-body">
          <h3 class="card-title">Come and Visit Us</h3>

          <p class="church_text">10096 Iona Road <br>
            Iona Station, ON N0L 1P0 <br>
            <a href="mailto:info@disbc.com"> info@disbc.com</a>
          </p>

        </div>

      </div>

      <br>

    </div> <!-- outher column-->
    <div class="col-md-6 mb-3">
      <div class="card h-58 text-center">
        <img class="card-img-top" src="assets/images/IonaMap.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title"><a
              href="https://www.google.com/maps/place/Iona+Baptist+Church/@42.7079931,-81.411753,17z/data=!4m8!1m2!2m1!1sbaptist+church+near+Iona+Station,+ON!3m4!1s0x882e51e8f37a249b:0xd0a95eb6974de21c!8m2!3d42.7081825!4d-81.4090529"
              target="_blank">
              Iona Station Baptist Church</a></h4>
        </div>

      </div>
    </div>

  </div> <!-- END row-->
  <hr>
  <div class="row">
    <div class="col-md-8">

      <div class="card church_message">
        <div class="card-body">
          <h3 class="card-title">We are affiliated with:</h3>

          <p class="church_text">Canadian Baptists of Ontario and Quebec (CBOQ) and the Elgin Association of Baptist
            Churches.
          </p>

        </div>

      </div>

      <br>
    </div> <!-- outher column-->

    <div class="col-md-2 mb-3">
      <div class="card h-58 text-center ">
        <img class="card-img-top pic_height" src="assets/images/CBOQ.webp" alt="">
        <div class="card-body">
          <h5 class="card-title"><a
              href="https://baptist.ca/"
              target="_blank">
              CBOQ</a> <br><br></h5>
        </div>

      </div>
    </div>
    <div class="col-md-2 mb-3">
      <div class="card h-12 text-center">
        <img class="card-img-top pic_height" src="assets/images/Elgin.webp" alt="">
        <div class="card-body">
          <h5 class="card-title"><a
              href="https://elginbaptist.wordpress.com/"
              target="_blank">
              Elgin Association</a></h5>
        </div>

      </div>
    </div>

  </div> <!-- END row-->
</div>