<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card h-58 text-center">
      <img class="card-img-top" src="assets/images/iona_about_1.webp" alt="">
      <div class="card-body">
        <h4 class="card-title">Iona Station Baptist Church</h4>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="card church_message">
          <div class="card-body">
            <h4 class="card-title">History of Iona Station Baptist Church</h4>
            <p class="church_text">Iona Station Baptist Church (ISBC) has a long history of ministry
              within its community. Originally started in 1821, ISBC has endured its ups and downs
              in ministry, but through it all, they have been faithfully spreading the name of Jesus,
              faithfully doing his work in the world, and God has richly poured out his blessing
              on this church.
            </p>
            <p>The ministry of Iona Station carries on to this day. Through our regular Sunday
              morning worship service, our Men’s ministry, our vibrant Ladies group,
              and our ever growing Sunday School, ISBC seeks to faithfully minister
              to the next generation</p>
          </div>

        </div>
      </div>
    </div> <!-- inner row -->
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="card church_message">
          <div class="card-body">
            <h4 class="card-title">What to Expect</h4>
            <p class="church_text">The first thing you’ll notice when pulling up to Iona Station Baptist Church is the historicity of the building.  The building is 153 years old, and was previously located two miles south of its present location.
            </p>
            <p>Upon entering the building, you’ll find a relaxed atmosphere for worship.  Through the guidance of our piano and organ, we are led in worship by singing familiar hymns of the faith.  A time of prayer and a time of hearing from God’s Word are integral parts of the worship service.</p>
              
              <p>Although the church is small in number, it doesn’t mean it lacks energy.  The church is a family; they take care of one another, meet each other’s needs, and easily welcome new members in.  Iona Station Baptist Church is full of life, with conversations often lasting well into the afternoon.</p>
              <p>More than anything, we really are just regular, good-natured people, friendly people.  We are journeying together through life, seeking to know God better, searching the Bible for the truths of God and seeking to put into practice the things we learn.</p>
          </div>

        </div>
      </div>
    </div>
  </div> <!-- outher column-->
</div> <!-- END row-->
