<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card h-58 text-center">
      <img class="card-img-top" src="assets/images/MenMinistry.webp" alt="">
      <div class="card-body">
        <h4 class="card-title">Iron Sharps Iron</h4>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="card church_message">
          <div class="card-body">
            <h3 class="card-title">Men's Bible Study</h3>

            <p class="church_text">Our Men's Group meets every Thursday night at various locations for prayer and Bible
              Study. It's a wonderful time to come together as men, to be open and honest with our struggles, to pray
              for one another, and to learn from God's word.
            </p>
            <p>
              With men coming from both Dutton and Iona Station, it's a time of encouragement (with the odd jab),
              camaraderie with fellow Christian men, and a time to learn with each other and from each other's life
              experiences.
            </p>
            <p>
              Our Men's Group also meets once a month for Breakfast, where the wonderful smell of bacon greets you upon
              arrival! Also once a year, the men's group takes their breakfast out to the local golf course where they
              enjoy 9 holes following breakfast.
            </p>
 
          </div>

        </div>
      </div>
    </div> <!-- inner row -->
    <br>

  </div> <!-- outher column-->
</div> <!-- END row-->