<div class="container">
  <div class="card" id="certussoft_business" style="text-align: center">
    <div class="card-body services">
      <h3 class="my-4">Dutton/Iona Station Baptist Churches</h3>
      <p class="service_text">
        Join us for one of our Sunday Services:
      </p>
      <p class="service_text" style="font-weight: bold">
        Dutton Baptist Church - 9:30<br>
        Iona Station Baptist Church - 11:15<br>
      </p>
      <button type="button" class="btn btn-warning" routerLink="about/events">Check out our latest events</button>
    </div>
  </div>

  <!-- row below main message and church times -->
  <br><br>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <div class="card h-58 text-center">
        <img class="card-img-top" src="assets/images/DuttonChurch.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Dutton Baptist Church</h4>
        </div>

      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="assets/images/IonaStationChurch.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Iona Station Baptist Church</h4>

        </div>

      </div>
    </div>

  </div> <!-- END row-->

  <br><br>
  <div class="row">
    <div class="col-md-4">
      <div class="card church_message">
        <div class="card-body">
          <h4 class="card-title">Welcome</h4>
          <p class="church_text">Dutton and Iona Station Baptist Churches are two churches in the
            Municipality of Dutton/Dunwich
            that partner together in serving Christ and making his name known to our
            communities.
          </p>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="card  church_message">
        <div class="card-body">
          <h4 class="card-title">Our Calling</h4>
          <p class="church_text">Dutton and Iona Station Baptist Churches 
            exist to <em>bring glory to God</em>, to <em> make known the
            name of Jesus</em>, and to <em> make committed, life-long followers of Jesus. </em>
          </p>
          <p>
            ​We do this by living out the Great Commandment
            to love God and neighbour in conjunction with living out the
            Great Commission to make disciples of Jesus.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card church_message">
        <div class="card-body">
          <h4 class="card-title">Service Times &amp; Locations</h4>
          <p class="church_text">Services are held:</p>
          <ul>
            <li>Sunday Mornings @ 9:30 AM at Dutton Baptist Church</li>
            <li>Sunday Mornings  @ 11:15 AM at Iona Station Baptist Church.</li>
            <li>Communion is served on the 1st Sunday of every month.</li>
            <li>Any additional services will be announced on our website.</li>
          </ul>
        </div>
      </div>
    </div>


  </div> <!-- END row-->

</div>