<div class="row">

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="card church_message sky">
          <div class="card-body">
            <h4 class="card-title">Links</h4>
            <p class="church_text">
              <a href="https://www.cbmin.org/" target="_blank">Canadian Baptist Ministries</a>
            </p>
            <p>
              <a href="https://baptist.ca/" target="_blank">Canadian Baptists of Ontario and Quebec</a>
            </p>
            <p>
              <a href="https://baptistwomen.com/" target="_blank">Canadian Baptist Women of Ontario and Quebec</a>
            </p>
            <p>
              <a href="https://cboqyouth.ca/" target="_blank">CBOQ Youth</a>
            </p>
            <p>
              <a href="https://elginbaptist.wordpress.com/" target="_blank">Elgin Association of Baptist Churches</a>
            </p>
            <p>
              <a href="https://fsms.ca/" target="_blank">Fresh Start Maternity Supports</a>
            </p>
            <p>
              <a href="https://www.compassion.ca/" target="_blank">Compassion Canada</a>
            </p>
            <p>
              <a href="https://www.hockeyministries.org/" target="_blank">Hockey Ministries International</a>
            </p>
            <p>
              <a href="https://www.youversion.com/" target="_blank">YouVersion</a>
            </p>
          </div>

        </div>
      </div>
    </div> <!-- inner row -->
    <br>

  </div> <!-- outher column-->
</div> <!-- END row-->