<div class="container">
    <div class="card " id="certussoft_business">
        <div class="card-body">
            <h3 class="my-4">{{liveTitle}}</h3>
        </div>
    </div>
    <br>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe height="auto" width="100%"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            [src]="videoUrl | safeUrl" frameborder="0"
            allowfullscreen>
        </iframe>
    </div>
</div>